<!-- start custom footer snippets -->
<div class="page__footer-follow page__footer-custom">
    <ul class="social-icons">
      <li><strong>Suggestions and comments:</strong></li>
             <li><a href="https://github.com/{{ site.repository }}/blob/{{ site.branch }}/{{ page.relative_path }}"><i class="fab fa-fw fa-github" aria-hidden="true"></i> Edit</a></li>
             <li><a href="https://twitter.com/messages/compose?recipient_id=1115329171121680385" data-screen-name="@AEAData">
              <i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i> @AEAData</a></li>
             <li><a rel="me" href="https://mstdn.social/@aeadata"><i class="fab fa-fw fa-mastodon" aria-hidden="true"></i>aeadata@mstdn.social</a></li>
            <li><a href="https://www.aeaweb.org/contact"><i class="fas fa-paper-plane" aria-hidden="true"></i> Email</a></li>

    </ul>
  </div>
  
<!-- end custom footer snippets -->
