{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    <meta http-equiv="refresh" content="0; url={{ page.redirect }}" />
  </head>

  <body>

    {% include masthead.html %}

    <section>

      This page has permanently moved, please  
      <p><a href="{{ page.redirect }}">click here</a></p>.
      </body>
      </html>
      
    </section>
    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
